[Unit]
Description=updating e-paper frame via cycle_image.py
After=network.target

[Service]
Type=simple
ExitType=main
ExecStart=/usr/bin/sudo /usr/bin/python3 -u /home/garote/Documents/epaper_frame/cycle_image.py
WorkingDirectory=/home/garote/Documents/epaper_frame/
StandardOutput=append:/home/garote/Documents/epaper_frame/cycle_image.log
StandardError=append:/home/garote/Documents/epaper_frame/cycle_image.log
User=garote
Restart=no

[Install]
WantedBy=multi-user.target